*.acn
*.aux
*.bbl
*.bcf
*.blg
*.glo
*.idx
*.lof
*.log
*.lot
*.nlo
*.out
main.pdf
*.run.xml
*.synctex.gz
*.toc
*.xdy


*.acr
*.alg
*.fdb_latexmk
*.fls
*.glg
*.gls
*.ilg
*.ind
*.ist
*.nlg
*.nls

*.notation-glg
*.notation-glo
*.notation-gls
*.notation-idx
*.notation-ind

*.slo
*.sls
*.slg
*.ntg
*.not
*.nto
*.ntn

.ruff_cache/

